.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.puro/
.idea/
.metadata
*.iml
build/

android/.gradle/
android/local.properties

functions/node_modules/

scripts/__pycache__/
*.pyc
*.log

google-services.json
android/app/google-services.json
*-adminsdk*.json
